@{
    ViewData["Title"] = "Home Page";
         

}

    <div class="text-center">
        <h5>Air Cargo Manager</h5>
        <h6>Track&Trace</h6>


        <form asp-action="temp">
            <br/>
            <label>AirwayBillNumber: </label>
            <input type="text"
                   id="Mytextboxt1" name="Mytextboxt1"
                   value="Number here"/>
            <input type="submit"/>
        </form>
            
</div>
