@{
    ViewData["Title"] = "Begrafenisplanner";
}

<div class="text-center">
    <h3>Begrafenisplanner</h3>
    <h5>Grafregistratie</h5>
    
    <p>Hier kan tekst en/of knoppen staan naar de andere pagina's.</p>
</div>
