
@using begrafenisplanner.Models;

@{
    ViewData["Title"] = "Graves";
}

<div align="right"><a href="@Url.Action("WriteGrave", "Home")" class="btn btn-primary">Add Grave</a></div>

<h5>Graves :</h5>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Grave ID</th>
            <th scope="col">Grave Covers</th>
            <th scope="col">Grave Reference</th>
            <th scope="col">Cemetery</th>
            <th scope="col">Location</th>
            <th scope="col">Position</th>
            <th scope="col">Grave Type</th>
            <th scope="col">Status</th>
            <th scope="col">Acquisition</th>
            <th scope="col">Description</th>
            <th scope="col">Date Created</th>
            <th scope="col">Date Modified</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
        </tr>
    </tbody>
</table>