
@using begrafenisplanner.Models;

@{
    ViewData["Title"] = "Grave Covers";
}

<div align="right"><a href="@Url.Action("WriteGraveCover", "Home")" class="btn btn-primary">Add Grave Cover</a></div>

<h5>Grave Covers :</h5>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Grave Cover ID</th>
            <th scope="col">Graves</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Date Created</th>
            <th scope="col">Date Modified</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
        </tr>
    </tbody>
</table>