
@using begrafenisplanner.Models;

@{
    ViewData["Title"] = "Response";
}


<h5>AirwayBill :</h5>
<table class="table">
    <thead>
    <tr>
        <th scope="col">AirwayBillNumber</th>
        <th scope="col">Flight Date</th>
        <th scope="col">Departure</th>
        <th scope="col">Destination</th>
        <th scope="col">Pieces</th>
        <th scope="col">Actual Weight</th>
        <th scope="col">AirwayBill Status</th>

    </tr>
    </thead>
    <tbody>

        <tr>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>

        </tr>
    </tbody>

</table>