
@using begrafenisplanner.Models;

@{
    ViewData["Title"] = "Grave Cover";
}

<div align="left"><a href="@Url.Action("ReadGraveCover", "Home")" class="btn btn-primary">Back</a></div>
<br />

<h5>Add Grave Cover :</h5>

<form asp-action="WriteGraveButton">
    <label>Name: </label>
    <input type="text"
           id="Name" name="Name"
           value="Name Here" />
    <br/>

    <label>Description: </label>
    <input type="text"
           id="Description" name="Decription"
           value="Description Here" />
    <br/>

    <input type="submit" />
</form>